.listtask {
    max-width: 340px;
    width: 320px;
    max-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #f79f4d;
  }

  .itemtask {
    max-width: 340px;
    width: 320px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    border-radius: 10px;
  }